<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-4">
      <p>Name:
        <strong>{{user.profile.name}}</strong>
      </p>
      <p>Surname:
        <strong>{{user.profile.surname}}</strong>
      </p>
      <p>Address:
        <strong>{{user.profile.address}}</strong>
      </p>
      <p>Country:
        <strong>{{user.profile.country}}</strong>
      </p>
    </div>
    <div class="col-md-4">
      <p>E-mail:
        <strong>{{user.email}}</strong>
      </p>
      <p>Phone:
        <strong>{{user.profile.phone}}</strong>
      </p>
      <p>Mobile:
        <strong>{{user.profile.mobile}}</strong>
      </p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <a href="profile/edit" class="btn btn-info pull-right col-md-2">Edit</a>
    	<a href="profile/change" class="btn btn-info col-md-2">Change Password</a>
    </div>
  </div>

</div>
