<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="media">
            <a class="pull-left hidden-sm hidden-xs" href="#">
                <img gravatar="{{user.email}}" size="120" />
            </a>
            <div class="media-body">
                <h4 class="media-heading">{{user.profile.name}} {{user.profile.surname}}</h4>
                <br>
                <ul class="nav nav-tabs">
                    <li ng-class="{active: template==='partials/profile/_details.html'}"><a href="" ng-click="template = 'partials/profile/_details.html'"><i class="fa fa-user"></i> Profile</a>
                    </li>
                    <li ng-class="{active: template==='partials/profile/organizations/show.html'}"><a href="" ng-click="template = 'partials/profile/organizations/show.html'"><i class="fa fa-users"></i> Organizations</a>
                    </li>
                    <li ng-class="{active: template==='partials/profile/services/show.html'}"><a href="" ng-click="template = 'partials/profile/services/show.html'"><i class="fa fa-cog"></i> Services</a>
                    </li>
                </ul>
                <br>

                <div ng-include="template"></div>

            </div>

        </div>
    </div>

</div>
