<div class="row">
    <div class="col-md-8 col-md-offset-2">
       <h4>{{user.profile.name}} {{user.profile.surname}}</h4>
       <br>
       <ul class="nav nav-tabs">
           <li ng-class="{active: template==='partials/profile/_details.html'}"><a href="" ng-click="switchTo()"><i class="fa fa-user"></i> Profile</a>
           </li>
           <li ng-class="{active: template==='partials/profile/organizations/show.html'}"><a href="" ng-click="switchTo('organizations')"><i class="fa fa-users"></i> Organizations</a>
           </li>
           <li ng-class="{active: template==='partials/profile/services/show.html'}"><a href="" ng-click="switchTo('services')"><i class="fa fa-cog"></i> Services</a>
           </li>
           
           <li ng-show="user.role==='ROLE_ADMIN'" ng-class="{active: template==='partials/profile/admin/categories/show.html'}"><a href="" ng-click="switchTo('categories')"><i class="fa fa-cog"></i> Categories</a>
           </li>
       </ul>
       <br>

       <div ng-include="template"></div>
    </div>
</div>
