<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object dp img-circle" ng-src="https://graph.facebook.com/{{user.name}}.{{user.surname}}/picture?width=120&height=120" style="width: 100px;height:100px;">
      </a>
      <div class="media-body">
        <h4 class="media-heading">{{user.name}} {{user.surname}}
          <small>Italy</small>
        </h4>
        <h5>SysAdmin at <a href="http://www.smartcampuslab.it">Smart Campus</a>
        </h5>
        <br>
        <ul class="nav nav-tabs">
          <li ng-class="{active: template==='profile'}"><a href="#" ng-click="template = 'profile'"><i class="fa fa-user"></i> Profile</a>
          </li>
          <li ng-class="{active: template==='organizations'}"><a href="#" ng-click="template = 'organizations'"><i class="fa fa-users"></i> Organizations</a>
          </li>
          <li ng-class="{active: template==='services'}"><a href="#" ng-click="template = 'services'"><i class="fa fa-cogs"></i> Services</a>
          </li>
        </ul>
        <br>
        <div class="slide-animate-container">
          <div class="slide-animate">
            <div class="row" ng-show="template==='profile'">
              <div class="col-md-4">
                <p>Name:
                  <strong>{{user.name}}</strong>
                </p>
                <p>Surname:
                  <strong>{{user.surname}}</strong>
                </p>
                <p>Address:
                  <strong>{{user.address}}</strong>
                </p>
                <p>City:
                  <strong>{{user.city}}</strong>
                </p>
                <p>Postal code:
                  <strong>{{user.postalcode}}</strong>
                </p>
                <p>Country:
                  <strong>{{user.country}}</strong>
                </p>
              </div>
              <div class="col-md-4">
                <p>Tax Code:
                  <strong>{{user.taxcode}}</strong>
                </p>
                <p>E-mail:
                  <strong>{{user.email}}</strong>
                </p>
                <p>Phone:
                  <strong>{{user.phone}}</strong>
                </p>
                <p>Mobile:
                  <strong>{{user.mobile}}</strong>
                </p>
              </div>
            </div>

            <div ng-show="template==='organizations'">
              <div class="row">
                <div class="col-md-6">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      Smart Campus
                      <button type="button" class="pull-right btn btn-danger btn-xs">Remove</button>
                      <button type="button" class="pull-right btn btn-default btn-xs orgbtn">Edit</button>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-body">
                      Trento RISE
                      <button type="button" class="pull-right btn btn-danger btn-xs">Remove</button>
                      <button type="button" class="pull-right btn btn-default btn-xs orgbtn">Edit</button>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-body">
                      Dark Bunnies
                      <button type="button" class="pull-right btn btn-danger btn-xs">Remove</button>
                      <button type="button" class="pull-right btn btn-default btn-xs orgbtn">Edit</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      Whiteheart Chaos
                      <button type="button" class="pull-right btn btn-danger btn-xs">Remove</button>
                      <button type="button" class="pull-right btn btn-default btn-xs orgbtn">Edit</button>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-body">
                      Peck Dynamo
                      <button type="button" class="pull-right btn btn-danger btn-xs">Remove</button>
                      <button type="button" class="pull-right btn btn-default btn-xs orgbtn">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2 col-md-offset-10">
                  <button type="button" class="btn btn-info btn-block">Add</button>
                </div>
              </div>
            </div>

            <div class="row" ng-show="template==='services'">
              <div class="col-md-4">
                <p>services</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>
