<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Invite a friend" ng-model="friend.email">
            <span class="input-group-btn">
                <button ng-disabled="!friend.email" ng-click="invite()" type="button" class="btn btn-success">Invite</button>
            </span>
        </div>
    </div>
</div>
<div class="row" id="members">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default" ng-repeat="member in members">
           <div class="panel-body">
              <div class="row">
                <div class="col-md-8">
		               <strong>{{member.username}}</strong>
		               <p>{{member.email}}</p>
                </div>
                <div class="col-md-4">
                   <button type="button" data-toggle="tooltip" title="Delete member" class="pull-right btn btn-default btn-sm" ng-confirm-click="remove($index)" ng-confirm-message="Confirm delete?" ng-confirm-condition="true"><i class="fa fa-trash-o"></i></button>
                </div>
              </div>
           </div>
       </div>
    </div>
</div>
