<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Invite a friend" ng-model="friend.email">
            <span class="input-group-btn">
                <button ng-disabled="!friend.email" ng-click="invite()" type="button" class="btn btn-success">Invite</button>
            </span>
        </div>
    </div>
</div>
<div class="row" id="members">
    <div class="col-md-2" ng-repeat="member in members">
        <a href="#">
            <img gravatar="{{member.email}}" size="160" />
        </a>
    </div>
</div>
