<div class="animated fadeIn">
  <div ng-repeat="org in orgs" class="row">
    <div class="col-xs-2 col-md-2 text-center">
      <img class="img-rounded" data-src="holder.js/114x114" holder alt="Generic placeholder image">
    </div>
<br>
    <div class="col-xs-10 col-md-10 section-box">
      <h3>
        {{org.name}}
      </h3>
      <p>
        {{org.description}}
        <button type="button" class="pull-right btn btn-danger btn-xs" ng-click="deleteOrg($index)"><i class="fa fa-trash-o"></i></button>
        <a ng-href="profile/organizations/{{org.id}}/edit" type="button" class="pull-right btn btn-default btn-xs orgbtn"><i class="fa fa-edit"></i>
        </a>
      </p>
      <hr />
      <br>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-2 col-md-offset-10">
      <a href="profile/organizations/new" class="btn btn-info btn-block">Add</a>
    </div>
  </div>
  <br>
</div>
