<div class="animated fadeIn">
    <div class="row">
        <br>
        <div class="col-md-12">
            <div class="panel panel-default" ng-repeat="org in orgs">
                <div class="panel-body">
                    <img ng-src="api/file/download/{{org.id}}">
                    <strong>{{org.name}}</strong>
                    <em>{{org.description}}</em>
                    <button type="button" data-toggle="tooltip" title="Delete organization" class="pull-right btn btn-default btn-sm" ng-click="deleteOrg($index)"><i class="fa fa-trash-o"></i>
                    </button>
                    <a ng-href="profile/organizations/{{org.id}}/members" type="button" data-toggle="tooltip" title="Members" class="pull-right btn btn-default btn-sm orgbtn"><i class="fa fa-user"></i>
                    <a ng-href="profile/organizations/{{org.id}}/edit" type="button" data-toggle="tooltip" title="Edit organization" class="pull-right btn btn-default btn-sm orgbtn"><i class="fa fa-edit"></i>
          </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-10">
            <a href="profile/organizations/new" class="btn btn-info btn-block">Add</a>
        </div>
    </div>
    <br>
</div>
