<div class="row animated fadeIn">
    <div class="col-md-4 col-md-offset-4">
        <h2>{{title}} Method</h2>
        <form name="form" novalidate role="form" ng-submit="submit()">
            <div class="form-group">
                <label for="methodname">Method Name</label>
                <input type="text" class="form-control" id="methodname" placeholder="Method Name" ng-model="method.name" required>
            </div>
            <div class="form-group">
                <label for="methoddesc">Description</label>
                <input type="text" class="form-control" id="methoddesc" placeholder="Description" ng-model="method.synopsis" required>
            </div>
            <div class="form-group">
                <label for="documentation">Documentation</label>
                <input type="text" class="form-control" id="documentation" placeholder="http://yourdocs.com/doc" ng-model="method.documentation">
            </div>
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-info">Save</button>
            <button ng-click="back()" class="pull-right btn btn-default">Go back</button>
        </form>
        <hr>
        <button ng-click="addTest()" class="btn btn-default">Add test</button>
    </div>
</div>
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div ng-repeat="test in method.tests" class="panel panel-default">
              <div class="panel-heading">{{test.name}}</div>
              <div class="panel-body">
		            <div class="form-group">
		                <label for="name">Name</label>
		                <input type="text" class="form-control" id="name" placeholder="" ng-model="test.name" required>
		            </div>
					<div class="form-group">
		                <label for="description">Description</label>
		                <input type="text" class="form-control" id="description" placeholder="" ng-model="test.description">
		            </div>
		            <div class="form-group">
		                <label for="path">Request path</label>
		                <input type="text" class="form-control" id="path" placeholder="/user/info" ng-model="test.requestPath">
		            </div>
					 <div class="checkbox">
					    <label>
					      <input type="checkbox" ng-model="test.requestPathEditable"> Request path is editable
					    </label>
					  </div>
	                <div class="form-group">
						<label for="requestmethod">Request method</label> 
						<select id="requestmethod" class="form-control" ng-model="test.requestMethod" required>
							<option>GET</option>
							<option>POST</option>
							<option>PUT</option>
							<option>DELETE</option>
							<option>HEAD</option>
							<option>JSONP</option>
						</select>
					</div>
					<button ng-click="addHeader($index)" class="btn btn-default btn-block">Add header</button>
					<br>
					<div ng-repeat="header in test.headers" class="row">
					  <div class="col-lg-6">
					    <div class="input-group">
					      <span class="input-group-addon">
					        Header
					      </span>
					      <input type="text" class="form-control" ng-model="header.name">
					    </div><!-- /input-group -->
					  </div><!-- /.col-lg-6 -->
					  <div class="col-lg-6">
					    <div class="input-group">
					      <span class="input-group-addon">
					        Value
					      </span>
					      <input type="text" class="form-control" ng-model="header.value">
					    </div><!-- /input-group -->
					  </div><!-- /.col-lg-6 -->
					</div><!-- /.row -->
		          </div>  
		          <br>
		          <div class="form-group">
		                <label for="body">Request Body</label>
		                <input type="text" class="form-control" id="body" placeholder="" ng-model="test.requestBody">
		            </div>
		          <div class="checkbox">
					    <label>
					      <input type="checkbox" ng-model="test.requestBodyEditable"> Request body is editable
					    </label>
					  </div>
				<div class="form-group">
		                <label for="response">Response</label>
		                <input type="text" class="form-control" id="response" placeholder="" ng-model="test.response">
		            </div> 
            </div>
    </div>
</div>
