<div class="row animated fadeIn">
	<div class="col-md-4 col-md-offset-4">
		<h2>{{title}} Test</h2>
		<form name="form" novalidate role="form" ng-submit="submit()">
			<div class="form-group">
				<label for="testname">Test Name</label> <input type="text"
					class="form-control" id="testname" placeholder="Test Name"
					ng-model="test.name" required>
			</div>
			<div class="form-group">
				<label for="testdesc">Description</label> <input type="text"
					class="form-control" id="testdesc" placeholder="Description"
					ng-model="test.description" required>
			</div>
			<div class="form-group">
				<label for="path">Request path</label> <input type="text"
					class="form-control" id="path" placeholder="/user/info"
					ng-model="test.requestPath">
			</div>
			<div class="checkbox">
				<label> <input type="checkbox" ng-model="test.requestPathEditable"> Request path is editable </label>
			</div>
			<div class="form-group">
				<label for="requestmethod">Request method</label> <select
					id="requestmethod" class="form-control"
					ng-model="test.requestMethod" required>
					<option>GET</option>
					<option>POST</option>
					<option>PUT</option>
					<option>DELETE</option>
					<option>HEAD</option>
					<option>JSONP</option>
				</select>
			</div>
        <label for="header">Add header</label>
			<div class="row">
        <div class="col-lg-5">
			     <input type="text"
		          class="form-control" id="header" placeholder="header"
		          ng-model="nheader.name">
		    </div>      
        <div class="col-lg-5">
		       <input type="text"
		          class="form-control" id="header" placeholder="value"
		          ng-model="nheader.value">
		    </div>      
		    <div class="col-lg-2">
          <button type="button" class="btn btn-info btn-block" ng-click="addHeader()">Add</button>
        </div>  
			</div>
			<hr/>
			<div ng-repeat="(n,v) in test.headers" class="row">
				<div class="col-lg-5">{{n}}</div>
        <div class="col-lg-5">{{v}}</div>
        <div class="col-lg-2">
          <button type="button" class="pull-right btn btn-danger btn-xs" ng-click="deleteHeader(n)"><i class="fa fa-trash-o"></i></button>
        </div>  
			</div>
			<br/>
			<div class="form-group">
				<label for="body">Request Body</label> <textarea
					class="form-control" id="body" placeholder=""
					ng-model="test.requestBody" rows="2"/>
			</div>
			<div class="checkbox">
				<label> <input type="checkbox"
					ng-model="test.requestBodyEditable"> Request body is
					editable
				</label>
			</div>
        <div class="form-group">
                    <label for="response">Response</label>
                    <input type="text" class="form-control" id="response" placeholder="" ng-model="test.response">
                </div> 

			<button type="submit" ng-disabled="form.$invalid"
				class="btn btn-info">Save</button>
			<button ng-click="back()" class="pull-right btn btn-default">Go
				back</button>
		</form>
	</div>
</div>
