<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>{{method.name}}</h2>
            <h5>{{method.synopsis}}</h5>
            <h5><a ng-href="{{method.documentation}}">Documentation</a>
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-md-offset-9">
            <a href="profile/services/{{method.serviceId}}/methods/{{method.id}}/edit" class="btn btn-info btn-block">Edit</a>
        </div>
    </div>


    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h4>Test Cases</h4>
            <div ng-repeat="test in method.testboxProperties.tests" class="panel panel-default">
                <div class="panel-body">
                    {{test.name}}
                    <button type="button" class="pull-right btn btn-default btn-sm" ng-click="deleteTest($index)"><i class="fa fa-trash-o"></i>
                    </button>
                    <a href="profile/services/{{method.serviceId}}/methods/{{method.id}}/tests/{{$index}}/edit" class="pull-right btn btn-default btn-sm orgbtn"><i class="fa fa-edit"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-md-offset-9">
            <a href="profile/services/{{method.serviceId}}/methods/{{method.id}}/tests/new" class="btn btn-info btn-block">Add Test</a>
        </div>
    </div>
</div>
