<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <h2>{{method.name}}</h2>
            <h5>{{method.synopsis}}</h5>
            <h5>documentation: <a ng-href="{{method.documentation}}">{{method.documentation}}</a></h5>
        </div>
    </div>
    <div class="row">
      <div class="col-md-1 col-md-offset-9">
        <a href="profile/services/{{service.id}}/methods/{{method.id}}/edit" class="btn btn-info btn-block">Edit</a>
      </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h4>Test cases</h4>
						<div class="animated fadeIn">
						    <div class="row" ng-repeat="test in testcases">
						        <div class="col-md-12 section-box">
						            <h3>
						                {{test.name}}
						            </h3>
						            <p>
						                {{test.description}}
						                <button type="button" class="pull-right btn btn-danger btn-xs" ng-click="deleteTest($index)"><i class="fa fa-trash-o"></i></button>
						                <a href="profile/services/{{service.id}}/methods/{{method.id}}/tests/{{test.id}}/edit" class="pull-right btn btn-default btn-xs orgbtn"><i class="fa fa-edit"></i></a>
						            </p>
						            <hr />
						        </div>
						    </div>
						    <br>
						    <div class="row">
						        <div class="col-md-1 col-md-offset-11">
						            <a href="profile/services/{{service.id}}/methods/{{method.id}}/tests/new" class="btn btn-info btn-block">Add</a>
						        </div>
						    </div>
						    <br>
						
						</div>
        </div>
    </div>
</div>
