<div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h4>Info</h4>
            <ul>
                <li>organization: {{org.name}}</li>
                <li>tags: {{service.tags}}</li>
                <li>category: {{category.name}} </li>
                <li>documentation: <a ng-href="{{service.documentation}}">{{service.documentation}}</a></li>
                <li>license: {{service.license}}</li>
                <li>version: {{service.version}}</li>
                <li>expiration: {{service.expiration}}</li>
            </ul>
            <h4>Access information</h4>
            <ul>
                <li>access policies: {{service.accessInformation.accessPolicies}}</li>
                <li>testing endpoint: {{service.accessInformation.testingEndpoint}}</li>
                <li>production endpoint: {{service.accessInformation.productionEndpoint}}</li>
                <li>formats: {{service.accessInformation.formats}}</li>
                <li>protocols: {{service.accessInformation.protocols}}</li>
                <li>authentication: {{service.accessInformation.authentication.accessProtocol}}</li>
            </ul>
            <h4>Implementation</h4>
            <ul>
                <li>execution environment: {{service.implementation.executionEnvironment}}</li>
                <li>hosting: {{service.implementation.hosting}}</li>
                <li>source: <a ng-href="{{service.implementation.sourceCode}}">{{service.implementation.sourceCode}}</a></li>
            </ul>
        </div>
    </div>
