<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <br>
        <h3>
            <small>Organization:</small>{{org.name}}</h3>
        <h3>
            <small>Tags:</small>{{service.tags}}</h3>
        <h3>
            <small>Category:</small>{{category.name}}</h3>
        <h3>
            <small>Documentation:</small> <a ng-href="{{service.documentation}}">{{service.documentation}}</a>
        </h3>
        <h3>
            <small>License:</small>{{service.license}}</h3>
        <h3>
            <small>Version:</small>{{service.version}}</h3>
        <h3>
            <small>Expiration:</small>{{service.expiration}}</h3>
    </div>
</div>
