<div class="row">
    <div class="col-md-8 col-md-offset-2">
		<ul>
		    <li>access policies: {{service.accessInformation.accessPolicies}}</li>
		    <li>testing endpoint: {{service.accessInformation.testingEndpoint}}</li>
		    <li>production endpoint: {{service.accessInformation.productionEndpoint}}</li>
		    <li>formats: {{service.accessInformation.formats}}</li>
		    <li>protocols: {{service.accessInformation.protocols}}</li>
		    <li>authentication: {{service.accessInformation.authentication.accessProtocol}}</li>
		</ul>
	</div>
</div>