<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <br>
	  	<h3><small>Access policies:</small> {{service.accessInformation.accessPolicies}}</h3>
		<h3><small>Testing endpoint:</small> {{service.accessInformation.testingEndpoint}}</h3>
		<h3><small>Production endpoint:</small> {{service.accessInformation.productionEndpoint}}</h3>
		<h3><small>Formats:</small> {{service.accessInformation.formats}}</h3>
		<h3><small>Protocols:</small> {{service.accessInformation.protocols}}</h3>
		<h3><small>Authentication:</small> {{service.accessInformation.authentication.accessProtocol}}</h3>
	</div>
</div>