<div class="row">
    <div class="col-md-12">
        <br>
        <h4>
            <small>Access policies:</small>{{service.accessInformation.accessPolicies}}</h4>
        <h4>
            <small>Testing endpoint:</small>{{service.accessInformation.testingEndpoint}}</h4>
        <h4>
            <small>Production endpoint:</small>{{service.accessInformation.productionEndpoint}}</h4>
        <h4>
            <small>Formats:</small>{{service.accessInformation.formats}}</h4>
        <h4>
            <small>Protocols:</small>{{service.accessInformation.protocols}}</h4>
        <h4>
            <small>Authentication:</small>{{service.accessInformation.authentication.accessProtocol}}</h4>
    </div>
</div>
