<div class="row">
    <div class="col-md-12">
        <div class="row">
            <li>
                <b>Execution Environment:</b>
                <span>{{service.implementation.executionEnvironment}}</span>
            </li>
            <li>
                <b>Hosting:</b>
                <span>{{service.implementation.hosting}}</span>
            </li>
            <li>
                <b>Source:</b>
                <a ng-href="{{service.implementation.sourceCode}}">
                    <span>{{service.implementation.sourceCode}}</span>
                </a>
            </li>
        </div>
    </div>
</div>
