<div class="table-responsive">
    <table class="table table-striped table-condensed">
        <tbody>
            <tr>
                <td>Execution Environment</td>
                <td>{{service.implementation.executionEnvironment}}</td>
            </tr>
            <tr>
                <td>Hosting</td>
                <td>{{service.implementation.hosting}}</td>
            </tr>
            <tr>
                <td>Source</td>
                <td>
                    <a ng-href="{{service.implementation.sourceCode}}">
                        <span>{{service.implementation.sourceCode}}</span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
