<div class="col-md-10 col-md-offset-1" id="search">
    <form role="form">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="query">
            <!-- <br/>Tag:
                <input type="checkbox" ng-model="tag" ng-click="update()"> -->
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button">
                    &nbsp;
                    <div class="glyphicon glyphicon-search"></div>
                    &nbsp;
                </button>
            </span>
        </div>
    </form>
</div>

<div class="col-md-10 col-md-offset-1">
    <div class="row">
        <div class="col-md-3">
            <h4>Categories</h4>
            <div class="form-group">
                <div ng-repeat="cat in categories" class="checkbox">
                    <label>
                        <input type="checkbox" value="{{cat.name}}" ng-click="serviceCategory(cat.id)" ng-model="category">{{cat.name}}
                    </label>
                </div>
                <!--                 <div class="checkbox"> -->
                <!--                     <label> -->
                <!--                         <input type="checkbox" value="">Two -->
                <!--                     </label> -->
                <!--                 </div> -->
                <!--                 <div class="checkbox"> -->
                <!--                     <label> -->
                <!--                         <input type="checkbox" value="">Three -->
                <!--                     </label> -->
                <!--                 </div> -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default panel-services">
                <div class="panel-body">
                    <ul class="list-unstyled" ng-if="services.length > 0">
                        <li ng-repeat="service in services" class="animated fadeIn service-row">
                            <span class="badge pull-right">Version: {{service.version}}</span>
                            <h3>
                                <a ng-href="services/{{service.id}}">{{service.name}}</a>
                            </h3>
                            <p>{{service.description}}</p>
                            <div>
                                <div ng-show="service.tags" class="tags">
                                    <span class="glyphicon glyphicon-tags"></span>
                                    <span ng-repeat="tag in service.tags" class="label label-success">{{tag}}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <ul class="pager">
                <li ng-class="{disabled: start <= 0}"><a ng-click="prev()" href="">Previous</a>
                </li>
                <li ng-class="{disabled: end >= total}"><a ng-click="next()" href="">Next</a>
                </li>
            </ul> -->
            <ul class="pagination pagination-sm pull-right">
                <li ng-class="{disabled: start <= 0}">
                    <a ng-click="prev()">&laquo;</a>
                </li>
                <!-- <li><a href="#">1</a>
                </li>
                <li><a href="#">2</a>
                </li>
                <li><a href="#">3</a>
                </li>
                <li><a href="#">4</a>
                </li>
                <li><a href="#">5</a>
                </li> -->
                <li ng-class="{disabled: end >= total}">
                    <a ng-click="next()">&raquo;</a>
                </li>
            </ul>
            <div ng-if="!services || services.length == 0">
                <h4>No results.</h4>
            </div>
        </div>
    </div>
</div>
