<div class="row animated fadeIn">
    <div class="col-md-8 col-md-offset-2" ng-if="services.length > 0">
        <div ng-repeat="service in services" class="col-md-12">
            <h1><a ng-href="services/{{service.id}}">{{service.name}}</a>
            </h1>
            <p>{{service.description}}</p>
            <div>
                <span class="badge">Version: {{service.version}}</span>
                <div ng-show="service.tags" class="pull-right">
                    <i class="fa fa-tags"></i> 
                    <span ng-repeat="tag in service.tags" class="label label-success">{{tag}}</span>
                </div>
            </div>
            <hr>
        </div>
        <ul class="pager">
            <li ng-class="{disabled: start <= 0}"><a ng-click="prev()" href="">Previous</a>
            </li>
            <li ng-class="{disabled: end >= total}"><a ng-click="next()" href="">Next</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12" ng-if="!services || services.length == 0">
          <h4>No results.</h4>
    </div>
    
</div>
