<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="row">
            <h1>{{service.name}}</h1>
            <!-- <p>{{service.description}}</p> -->
        </div>
        <div class="row">
            <div class="panel panel-default panel-service">
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li>
                            <b>Organization:</b>
                            <span>{{org.name}}</span>
                        </li>
                        <li>
                            <b>Category:</b>
                            <span>{{category.name}}</span>
                        </li>
                        <li class="tags">
                            <b>Tags:</b>
                            <span ng-repeat="tag in service.tags" class="label label-success">{{tag}}</span>
                        </li>
                    </ul>
                    <tabset>
                    	<tab heading="Info">
                    		<div ng-include="'partials/services/_about.html'"></div>
                    	</tab>
                      <tab heading="Methods">
                        <div ng-include="'partials/services/_tests.html'"></div>
                      </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>
