<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-4">
      <p>Name:
        <strong>{{user.name}}</strong>
      </p>
      <p>Surname:
        <strong>{{user.surname}}</strong>
      </p>
      <p>Address:
        <strong>{{user.address}}</strong>
      </p>
      <p>City:
        <strong>{{user.city}}</strong>
      </p>
      <p>Postal code:
        <strong>{{user.postalcode}}</strong>
      </p>
      <p>Country:
        <strong>{{user.country}}</strong>
      </p>
    </div>
    <div class="col-md-4">
      <p>Tax Code:
        <strong>{{user.taxcode}}</strong>
      </p>
      <p>E-mail:
        <strong>{{user.email}}</strong>
      </p>
      <p>Phone:
        <strong>{{user.phone}}</strong>
      </p>
      <p>Mobile:
        <strong>{{user.mobile}}</strong>
      </p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-2 col-md-offset-10">
      <button class="btn btn-info btn-block" ng-click="showForm = 'true'">Edit</button>
    </div>
  </div>

</div>
