<div class="row animated fadeIn">
  <div class="col-md-6">
    <div class="userorg panel panel-default">
      <div class="panel-body">
        Smart Campus
        <button type="button" class="pull-right btn btn-danger btn-xs">Remove</button>
        <button type="button" class="pull-right btn btn-default btn-xs orgbtn">Edit</button>
      </div>
    </div>
    <div class="userorg panel panel-default">
      <div class="panel-body">
        Trento RISE
        <button type="button" class="pull-right btn btn-danger btn-xs">Remove</button>
        <button type="button" class="pull-right btn btn-default btn-xs orgbtn">Edit</button>
      </div>
    </div>
    <div class="userorg panel panel-default">
      <div class="panel-body">
        Dark Bunnies
        <button type="button" class="pull-right btn btn-danger btn-xs">Remove</button>
        <button type="button" class="pull-right btn btn-default btn-xs orgbtn">Edit</button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="userorg panel panel-default">
      <div class="panel-body">
        Whiteheart Chaos
        <button type="button" class="pull-right btn btn-danger btn-xs">Remove</button>
        <button type="button" class="pull-right btn btn-default btn-xs orgbtn">Edit</button>
      </div>
    </div>
    <div class="userorg panel panel-default">
      <div class="panel-body">
        Peck Dynamo
        <button type="button" class="pull-right btn btn-danger btn-xs">Remove</button>
        <button type="button" class="pull-right btn btn-default btn-xs orgbtn">Edit</button>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-2 col-md-offset-10">
    <a href="/organizations/new" class="btn btn-info btn-block">Add</a>
  </div>
</div>
