<div class="row animated fadeIn">
    <div class="col-md-6 col-md-offset-3">
        <h2>{{title}} Service</h2>
        <form novalidate role="form" ng-submit="submit()">
            <div class="form-group">
                <label for="servicename">Service Name</label>
                <input type="text" class="form-control" id="servicename" placeholder="Service Name" ng-model="service.name">
            </div>
            <div class="form-group">
                <label for="authority">Organization</label>
                <select ng-options="org.name for org in orgs" id="org" class="form-control" ng-model="service.organizationId">
                </select>
            </div>
            <div class="form-group">
                <label for="orgdesc">Description</label>
                <input type="text" class="form-control" id="orgdesc" placeholder="Description" ng-model="service.description">
            </div>
            <div class="form-group">
                <label for="tags">Tags (comma separated)</label>
                <input type="text" class="form-control" id="tags" placeholder="tag1, tag2" ng-model="service.tags">
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select ng-options="cat.name for cat in cats" id="category" class="form-control" ng-model="service.category">
                </select>
            </div>
            <div class="form-group">
                <label for="license">License</label>
                <input type="text" class="form-control" id="license" ng-model="service.license">
            </div>
            <div class="form-group">
                <label for="license">Version</label>
                <input type="text" class="form-control" id="version" ng-model="service.version">
            </div>
            <div class="form-group">
                <label for="documentation">Documentation</label>
                <input type="text" class="form-control" id="documentation" placeholder="http://yourdocs.com/doc" ng-model="service.documentation">
            </div>
            <div class="form-group">
                <label for="expires">Expiration date</label>
                <input type="date" class="form-control" id="expiration" ng-model="service.expiration">
            </div>
            
            <div class="panel panel-default">
              <div class="panel-heading">Access Information</div>
              <div class="panel-body">
		            <div class="form-group">
		                <label for="policy">Access policies</label>
                    <input type="text" class="form-control" id="policy" placeholder="Access policies..." ng-model="service.accessInforomation.policies">
		            </div>
		            <div class="form-group">
		                <label for="tendpoint">Testing Endpoint</label>
		                <input type="text" class="form-control" id="tendpoint" placeholder="http://tendpoint.com/api" ng-model="service.accessInforomation.tendpoint">
		            </div>
		            <div class="form-group">
		                <label for="pendpoint">Production Endpoint</label>
		                <input type="text" class="form-control" id="pendpoint" placeholder="http://pendpoint.com/api" ng-model="service.accessInforomation.pendpoint">
		            </div>
		            <div class="form-group">
		                <label for="formats">Formats</label>
		                <input type="text" class="form-control" id="formats" placeholder="json, xml" ng-model="service.accessInformation.formats">
		            </div>
                <div class="form-group">
                    <label for="protocols">Protocols</label>
                    <input type="text" class="form-control" id="protocols" placeholder="rest, soap" ng-model="service.accessInformation.protocols">
                </div>
		          </div>  
            </div>
            
            <div class="panel panel-default">
              <div class="panel-heading">Implementation Information</div>
              <div class="panel-body">
		            <div class="form-group">
		                <label for="env">Execution Environment</label>
		                <input type="text" class="form-control" id="env" placeholder="example: java" ng-model="service.implementation.env">
		            </div>
		            <div class="form-group">
		                <label for="dependencies">Service Dependencies</label>
		                <input type="text" class="form-control" id="dependencies" placeholder="my service" ng-model="service.implementation.dependencies">
		            </div>
		            <div class="form-group">
		                <label for="hosting">Hosting</label>
		                <input type="text" class="form-control" id="hosting" placeholder="SmartCampus" ng-model="service.implementation.hosting">
		            </div>
		            <div class="form-group">
		                <label for="sourcecode">Source Code</label>
		                <input type="text" class="form-control" id="sourcecode" placeholder="http://mysource.com" ng-model="service.implementation.sourcecode">
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-info">Save</button>
            <button ng-click="back()" class="pull-right btn btn-default">Go back</button>
        </form>
    </div>
</div>
