<div class="animated fadeIn">
    <div class="row" ng-repeat="service in services">
        <div class="col-xs-10 col-md-10 section-box">
            <h3>
                {{service.name}}
            </h3>
            <p>
                {{service.description}}
                <button ng-show="service.state=='UNPUBLISH'" type="button" class="pull-right btn btn-success btn-xs" ng-click="publishService($index)"><i class="fa fa-thumbs-o-up"></i></button>
                <button ng-show="service.state=='PUBLISH'" type="button" class="pull-right btn btn-warning btn-xs" ng-click="unpublishService($index)"><i class="fa fa-thumbs-o-down"></i></button>
                <button ng-show="service.state=='PUBLISH'" type="button" class="pull-right btn btn-danger btn-xs" ng-click="deprecateService($index)"><i class="fa fa-thumbs-o-down"></i></button>
                <button type="button" class="pull-right btn btn-danger btn-xs" ng-click="deleteService($index)"><i class="fa fa-trash-o"></i></button>
                <a href="profile/services/{{service.id}}/view" class="pull-right btn btn-default btn-xs orgbtn"><i class="fa fa-edit"></i></a>
            </p>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <span ng-repeat="tag in service.tags" class="label label-default">{{tag}}</span>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-md-2 col-md-offset-10">
            <a href="profile/services/new" class="btn btn-info btn-block">Add</a>
        </div>
    </div>
    <br>

</div>
