<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>{{service.name}}</h2>
            <p class="markdown" marked="service.description"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h4>Info</h4>
            <ul>
                <li>publisher:
                        <strong>{{org.name}}</strong>
                </li>
                <li>owner:
                	<strong>{{service.ownerName}}</strong>
                </li>
                <li>owner URL:
                	<strong>{{service.ownerUrl}}</strong>
                </li>
                <li>tags:
                    <strong ng-repeat="tag in service.tags">{{tag}}</strong>
                </li>
                <li>category:
                    <strong>{{category.name}}</strong>
                </li>
                <li>documentation:
                    <a ng-href="<strong>{{service.documentation}}</strong>">
                        <strong>{{service.documentation}}</strong>
                    </a>
                </li>
                <li>license:
                	 <span data-ng-show="service.licenseType !== 'custom'">
						<strong>{{service.license}}</strong>
                	 </span>
                     <span data-ng-show="service.licenseType === 'custom'">
                		<a href="javascript:void(0)" data-ng-click="showLicense = !showLicense"><span data-ng-show="!showLicense">View</span><span data-ng-show="showLicense">Hide</span></a>
                		<textarea disabled="disabled" class="markdown" data-ng-show="showLicense"> 
                			{{service.license}}
               			 </textarea>
                	</span>
                </li>
                <li>version:
                    <strong>{{service.version}}</strong>
                </li>
                <li ng-if="service.expiration > 0">expiration:
                    <strong>{{service.expiration}}</strong>
                </li>
                <li>source code:
                    <a ng-href="{{service.implementation.sourceCode}}">
                        <strong>{{service.implementation.sourceCode}}</strong>
                    </a>
                </li>
            </ul>
            <h4>Access information</h4>
            <ul>
                <li>endpoint:
                    <strong>{{service.accessInformation.endpoint}}</strong>
                </li>
                <li>formats:
                    <strong>{{service.accessInformation.formats.replace(',', ', ')}}</strong>
                </li>
                <li>protocols:
                    <strong>{{service.accessInformation.protocols.replace(',', ', ')}}</strong>
                </li>
                <li>authentication:
                    <strong>{{service.accessInformation.authentication.accessProtocol}}</strong>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-md-offset-9">
            <a href="profile/services/{{service.id}}/edit" class="btn btn-info btn-block">Edit</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <hr/>
            <div class="animated fadeIn">
                <h4>Methods</h4>
                <div ng-repeat="method in methods" class="panel panel-default">
                    <div class="panel-body">
                        {{method.name}}
                        <button type="button" class="pull-right btn btn-default btn-sm" ng-confirm-click="deleteMethod($index)"  ng-confirm-message="Confirm delete?" ng-confirm-condition="true"><i class="fa fa-trash-o"></i>
                        </button>
                        <a href="profile/services/{{service.id}}/methods/{{method.id}}/view" class="pull-right btn btn-default btn-sm orgbtn"><i class="fa fa-edit"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-8">
            <a href="profile/services/{{service.id}}/methods/new" class="btn btn-info btn-block">Add Method</a>
        </div>
    </div>
</div>
