<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="row" ng-repeat="cats in categoriesRows">
      <div class="col-md-3" ng-repeat="category in cats">
        <div class="thumbnail">
          <div class="caption">
            <h4>
              <a href="#" ng-click="setCategoryActive(category)">{{category.name}}</a>
            </h4>
            <p>{{category.description}}</p>
            <p>
              <em>{{category.servicesCount}} services</em>
            </p>
          </div>
        </div>
      </div>
      <div class="clearfix visible-md"></div>
    </div>
  </div>
</div>
