<div class="row" id="search">
  <div class="col-md-12">
    <form role="form">
      <div class="input-group">
				<input type="text" class="form-control" ng-model="query">
				<span class="input-group-btn">
					<button class="btn btn-default" type="submit" ng-click="search(query)">Search</button>
				</span>
		  </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <br>
    <ul class="timeline">
      <li ng-repeat="entry in news|limitTo:3" ng-class="{'timeline-inverted': $index % 2 !== 0}">
        <div class="timeline-badge primary">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">{{entry.service}}</h4>
            <p>
              <small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{entry.date| date:'yyyy-MM-dd'}}</small>
            </p>
          </div>
          <div class="timeline-body">
            
            <div ng-switch on=entry.state>
            	<span ng-switch-when="ADD"> 
            		<span ng-hide="entry.method">A new service <b>{{entry.service}}</b> is added.</span>
            		<span ng-show="entry.method">A new method <b>{{entry.method}}</b> is added to this service.</span>
            	</span>
            	<span ng-switch-when="MODIFY">
            	<span ng-hide="entry.method">Service <b>{{entry.service}}</b> is modified.</span>
            		<span ng-show="entry.method">Method <b>{{entry.method}}</b> is modified.</span>
            	</span>
            	<span ng-switch-when="DELETE">
            		<span ng-hide="entry.method">Service <b>{{entry.service}}</b> is deleted.</span>
            		<span ng-show="entry.method">Method <b>{{entry.method}}</b> is deleted from this service.</span>
            	</span>
            	<span ng-switch-when="PUBLISH">Service <b>{{entry.service}}</b> is published</span>
            	<span ng-switch-when="UNPUBLISH">Service <b>{{entry.service}}</b> is unpublished</span>
            	<span ng-switch-when="DEPRECATE">Service <b>{{entry.service}}</b> is deprecated</span>
            </div>
            
            
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
