<div class="row" id="search">
  <div class="col-md-12">
    <div class="input-group">
      <input type="text" class="form-control" ng-model="query">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="search(query)">Search</button>
      </span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <br>
    <ul class="timeline">
      <li ng-repeat="entry in news|limitTo:3" ng-class="{'timeline-inverted': $index % 2 !== 0}">
        <div class="timeline-badge primary">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">{{entry.operation}}</h4>
            <p>
              <small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{entry.date| date:'yyyy-MM-dd'}}</small>
            </p>
          </div>
          <div class="timeline-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
