<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="row" id="search">
      <form role="form">
        <div>
          <h3>Welcome to Open Services!</h3>
          <p>A rich selection of intelligent services and functionalities
             immediately available for the developers and applications</p>
        </div>
        <div class="input-group search-bar">
          <input type="text" class="form-control" ng-model="query">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit" ng-click="search(query)">
              &nbsp;
              <div class="glyphicon glyphicon-search"></div>
              &nbsp;
            </button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-md-offset-2">
    <div class="row">
      <div class="panel panel-default panel-updates">
        <!-- <div class="panel-heading">Updates</div> -->
        <div class="panel-body">
          <h5>Updates</h5>
          <ul class="list-unstyled">
            <li ng-repeat="entry in news | limitTo:5">
              <!-- {{entry.date | date:'yyyy-MM-dd'}} -->
              <span class="glyphicon glyphicon-time"></span>&nbsp;{{entry.date | fromNow}}
              <p ng-switch on=entry.state>
                <span ng-switch-when="ADD">
                  <span ng-hide="entry.method">A new service {{entry.service}} is added.
                  </span>
                  <span ng-show="entry.method">A new method
                    <a href="services/{{entry.serviceId}}">{{entry.method}}</a> is added to <a ng-href="services/{{entry.serviceId}}">{{entry.service}}</a> service.
                  </span>
                </span>
                <span ng-switch-when="MODIFY">
                  <span ng-hide="entry.method">Service
                    <a ng-href="services/{{entry.serviceId}}">{{entry.service}}</a> is modified.
                  </span>
                  <span ng-show="entry.method">Method
                    <a href="services/{{entry.serviceId}}">{{entry.method}}</a> of service <a ng-href="services/{{entry.serviceId}}">{{entry.service}}</a> is modified.
                  </span>
                </span>
                <span ng-switch-when="DELETE">
                  <span ng-hide="entry.method">Service {{entry.service}} is deleted.
                  </span>
                  <span ng-show="entry.method">Method {{entry.method}} is deleted from service <a ng-href="services/{{entry.serviceId}}">{{entry.service}}</a>.</span>
                </span>
                <span ng-switch-when="PUBLISH">Service
                  <a ng-href="services/{{entry.serviceId}}">{{entry.service}}</a> is published
                </span>
                <span ng-switch-when="UNPUBLISH">Service {{entry.service}} is unpublished.
                </span>
                <span ng-switch-when="DEPRECATE">Service
                  <a ng-href="services/{{entry.serviceId}}">{{entry.service}}</a> is deprecated.
                </span>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-md-offset-1">
    <div class="tagcloud">
      <h4>{{servicesTotal}} services available</h4>
      <ul class="list-unstyled">
        <li ng-repeat="t in taglist"  class="text-right">
<!--           <span class="barcontainer"> -->
<!--             <span class="bar progress-bar" ng-style="getTagCloudBarWidth(t.counter, tagmax)"></span> -->
<!--           </span> -->
          <a href="search/{{t.tag}}">{{t.tag}}</a> ({{t.counter}})
        </li>
      </ul>
    </div>
  </div>
</div>
