<div class="row" id="search">
  <div class="col-md-12">
    <form role="form">
      <div class="input-group">
				<input type="text" class="form-control" ng-model="query">
				<span class="input-group-btn">
					<button class="btn btn-default" type="submit" ng-click="search(query)">Search</button>
				</span>
		  </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div ng-repeat="org in orgs">
      <h1>
        <a ng-href="organizations/{{org.id}}">
          {{org.name}}
        </a>

      </h1>
      <blockquote>
        <p>{{org.description}}</p>
      </blockquote>
    </div>
    
    <ul class="pager">
    	<li ng-class="{disabled: start <= 0}"><a ng-click="prev()" href="">Previous</a></li>
    	<li ng-class="{disabled: end >= total}"><a ng-click="next()" href="">Next</a></li>
    </ul>

  </div>
  
  <div class="col-md-12" ng-if="!orgs || orgs.length == 0">
  	<h4>No results.</h4>
  </div>
  
</div>

