<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <h2>{{org.name}}</h2>
            <p class="markdown" marked="org.description"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-md-offset-2">
          <div class="text-center">
            <img class="img-rounded img-responsive" ng-src="{{org.logo}}" holder alt="Generic placeholder image">
          </div>
        </div>
        <div class="col-md-8 col-md-offset-1">
            
                <div ng-show="org.activityArea">activity area: {{org.activityArea}}</div>
                <div ng-show="category.name">category: {{category.name}} </div>
                <div ng-show="org.contacts.email">email: {{org.contacts.email}} </div>
                <div ng-show="org.contacts.phone">phone: {{org.contacts.phone}} </div>
                <div ng-show="org.contacts.fax">fax: {{org.contacts.fax}} </div>
                <div ng-show="org.contacts.web">web: <a target="_blank" ng-href="{{org.contacts.web}}">{{org.contacts.web}}</a></div>
            
        </div>
    </div>
	
	<div class="row">
      <div class="col-md-8 col-md-offset-2">
      <hr/>
        <a href="organizations/{{org.id}}/services">Services</a>
      </div>
      <hr>
    </div>
    <hr>


	<div class="row" ng-if="!!histories">
		<div class="col-md-4 col-md-offset-2">
			<h3>History</h3>
			<div ng-repeat="history in histories">
				{{history.date| date:'yyyy-MM-dd'}}
				<div ng-switch on=history.operation>
					<span ng-switch-when="ADD"> <span
						ng-hide="history.methodName">Service, <b>{{history.serviceName}}</b>,
							is added.
					</span> <span ng-show="history.methodName">A new method <b>{{history.methodName}}</b>
							is added to this service.
					</span>
					</span> <span ng-switch-when="MODIFY"> <span
						ng-hide="history.methodName">Service, <b>{{history.serviceName}}</b>,
							is modified.
					</span> <span ng-show="history.methodName">Method <b>{{history.methodName}}</b>
							is modified.
					</span>
					</span> <span ng-switch-when="DELETE">
						<span ng-hide="history.methodName">Service <b>{{history.serviceName}}</b> is deleted.
            			</span>
            			<span ng-show="history.methodName">Method
							<b>{{history.methodName}}</b> is deleted from this service.
					</span>
					</span> <span ng-switch-when="PUBLISH">Service, <b>{{history.serviceName}}</b>,
						is published
					</span> <span ng-switch-when="UNPUBLISH">Service, <b>{{history.serviceName}}</b>,
						is unpublished
					</span> <span ng-switch-when="DEPRECATE">Service, <b>{{history.serviceName}}</b>,
						is deprecated
					</span>
				</div>
				<hr>
			</div>
		</div>
	</div>
</div>
