<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="row vcentered-items">
            <div class="col-md-2">
              <img class="img-rounded img-responsive" ng-src="{{org.logo}}" holder alt="Generic placeholder image">
            </div>
            <div class="col-md-10">  
              <h2>{{org.name}}</h2>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p class="markdown" marked="org.description"></p>
        </div>
    </div>    
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
           <div ng-show="org.activityArea"><strong>Activity area:</strong> {{org.activityArea}}</div>
           <div ng-show="category.name"><strong>Category:</strong> {{category.name}} </div>
           <div ng-show="org.contacts.email"><strong>Email:</strong> {{org.contacts.email}} </div>
           <div ng-show="org.contacts.phone"><strong>Phone:</strong> {{org.contacts.phone}} </div>
           <div ng-show="org.contacts.fax"><strong>Fax:</strong> {{org.contacts.fax}} </div>
           <div ng-show="org.contacts.web"><strong>Web:</strong> <a target="_blank" ng-href="{{org.contacts.web}}">{{org.contacts.web}}</a></div>
        </div>
    </div>
	
	<div class="row">
      <div class="col-md-8 col-md-offset-2 headerlink">
        <a href="organizations/{{org.id}}/services">View services</a>
      </div>
    </div>

	<div class="row" ng-if="!!histories">
		<div class="col-md-8 col-md-offset-2">
		  <div class="row">
        <div class="panel-history">
          <div class="panel-body">
						<h3>History</h3>
	          <ul class="list-unstyled">
							<li ng-repeat="history in histories | limitTo:histCount">
								<span class="glyphicon glyphicon-time"></span>&nbsp;{{history.date| date:'yyyy-MM-dd'}}
								<p ng-switch on=history.operation>
									<span ng-switch-when="ADD"> <span
										ng-hide="history.methodName">Service, <b>{{history.serviceName}}</b>,
											is added.
									</span> <span ng-show="history.methodName">A new method <b>{{history.methodName}}</b>
											is added to this service.
									</span>
									</span> <span ng-switch-when="MODIFY"> <span
										ng-hide="history.methodName">Service, <b>{{history.serviceName}}</b>,
											is modified.
									</span> <span ng-show="history.methodName">Method <b>{{history.methodName}}</b>
											is modified.
									</span>
									</span> <span ng-switch-when="DELETE">
										<span ng-hide="history.methodName">Service <b>{{history.serviceName}}</b> is deleted.
				            			</span>
				            			<span ng-show="history.methodName">Method
											<b>{{history.methodName}}</b> is deleted from this service.
									</span>
									</span> <span ng-switch-when="PUBLISH">Service, <b>{{history.serviceName}}</b>,
										is published
									</span> <span ng-switch-when="UNPUBLISH">Service, <b>{{history.serviceName}}</b>,
										is unpublished
									</span> <span ng-switch-when="DEPRECATE">Service, <b>{{history.serviceName}}</b>,
										is deprecated
									</span>
								</p>
							</li>
	          </ul>
	          <div ng-show="histCount < histories.length" >
	          <a ng-click="histCount = histories.length">View more</a>
	          </div>			
          </div>
        </div>  
      </div>
		</div>
	</div>
</div>
