<div id="signin" class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="row">
      <div class="col-md-3">
      <!-- <a href="" class="btn btn-lg btn-info btn-block enabled"><i class="fa fa-facebook"></i></a> -->
        <form id="fb" ng-submit="signinFb()"> 
      		<button type="submit" class="btn btn-lg btn-primary btn-block enabled" ><i class="fa fa-facebook"></i></button>
      	</form>
      </div>
      <div class="col-md-3">
     	<!-- <a href="" class="btn btn-lg btn-danger btn-block enabled"><i class="fa fa-google-plus"></i></a> -->
      	<form id="google" ng-click="signinGoogle()">
      		<!-- <input name="openid_identifier" type="hidden" value="https://www.google.com/accounts/o8/id"/>   -->
   			<div class="btn btn-lg btn-danger btn-block enabled">
   				<i class="fa fa-google-plus"></i>
			</div>
		</form>
      </div>
      <!--<div class="col-md-3">
        <!-- <a href="#" class="btn btn-lg btn-info btn-block disabled"><i class="fa fa-twitter"></i></a> 
        <form id="twitter" ng-click="signinTwitter()"> 
      		<div class="btn btn-lg btn-info btn-block enabled">
   				<i class="fa fa-twitter"></i>
			</div>
		</form>
      </div>-->
      <div class="col-md-3">
        <!-- <a href="#" class="btn btn-lg btn-info btn-block disabled"><i class="fa fa-twitter"></i></a> -->
        <form id="linkedin" ng-click="signinLinkedin()"> 
      		<div class="btn btn-lg btn-info btn-block enabled">
   				<i class="fa fa-linkedin"></i>
			</div>
		</form>
      </div>
    </div>
    <div class="login-or">
      <hr class="hr-or">
      <span class="span-or">or</span>
    </div>
    <form role="form" ng-submit="signin()">
      <div ng-show="error" class="alert alert-danger">
        {{error}}
      </div>
      <div class="form-group">
        <input type="username" class="form-control" id="username" placeholder="Username" ng-model="user.j_username">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.j_password">
      </div>
      <button type="submit" class="btn btn-info btn-block">Sign In</button>
    </form>
    <br>
    <a class="btn btn-default pull-left btn-sm" href="reset">I forgot it</a>
    <a class="btn btn-info pull-right btn-sm" href="signup">Register here</a>
  </div>
</div>
