<div id="signin" class="row animated fadeIn">
    <div class="col-md-4 col-md-offset-4">
        <form name="form" novalidate role="form" ng-submit="submit()">

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" ng-model="user.username" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id=""email"" ng-model="user.email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" ng-model="user.password" ng-minlength="6" required>
            </div>
            <div class="form-group">
                <label for="repeatpassword">Repeat Password</label>
                <input type="password" class="form-control" id="repeatpassword" ng-model="repeat" required>
            </div>
            <button type="submit" ng-disabled="form.$invalid || user.password !== repeat" class="btn btn-info btn-block">Sign Up</button>
        </form>
    </div>
</div>
