<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>Services</h1>
        <div class="service panel panel-default" ng-repeat="service in services">
            <div class="panel-heading">
                <h5 class="row">
                    <i ng-click="toggleServiceActive(service)" class="col-md-1" ng-class="{'fa fa-minus': isServiceActive(service), 'fa fa-plus': !isServiceActive(service) }"></i>
                    <span class="col-md-11"><a href="/services/1">{{service.name}}</a>
                    </span>
                </h5>
            </div>
            <div class="panel-body" ng-if="isServiceActive(service)">
                <p>{{service.description}}</p>
            </div>
        </div>
    </div>
</div>
