<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <a href="https://vas-dev.smartcampuslab.it/accesstoken-provider/ac/getToken/google?redirect=http://localhost/services/1">Get token</a>
            <h2>Test service</h2>
            <h5>Service description asd asd asd asd</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-2">
            <h4>Info</h4>
            <hr>
            <ul>
                <li>organization: test</li>
                <li>tags:
                    <span class="label label-default">Default</span>
                </li>
                <li>category: mycategory
                </li>
                <li>formats: json, xml</li>
            </ul>
        </div>
        <div class="col-md-2 col-md-offset-1">
            <h4>Implementation</h4>
            <hr>
            <ul>
                <li>execution environment: java</li>
                <li>service dependencies: some service</li>
                <li>engines: ultra engine</li>
                <li>source: <a href="https://github.com">https://github.com</a>
                </li>
            </ul>
        </div>
        <div class="col-md-2 col-md-offset-1">
            <h4>Documentation</h4>
            <hr>
            <ul>
                <li>wiki: <a href="http://dev.smartcampuslab.eu/doku.php">http://dev.smartcampuslab.eu</a>
                </li>
            </ul>

        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <p>
                <div class="input-group">
                    <span class="input-group-addon">endpoint</span>
                    <select class="form-control" ng-model="request.endpoint">
                        <option>{{service.accessinfo.tendpoint}}</option>
                        <option>{{service.accessinfo.pendpoint}}</option>
                    </select>
                </div>
            </p>
            <p>
                <div class="input-group">
                    <span class="input-group-addon">method</span>
                    <select ng-options="method as method.type +' '+ method.url +' '+ method.protocol for method in service.methods" ng-model="request.method" class="form-control" />
                </div>
            </p>
            <p>
                <div class="input-group">
                    <span class="input-group-addon">sample request</span>
                    <select ng-options="sample as sample.name for sample in request.method.samples" ng-model="request.sample" class="form-control" />
                </div>
            </p>

        </div>
        <div class="col-md-4">
            <ul ng-show="request.method">
                <li>{{request.method.name}}</li>
                <li>{{request.method.synopsis}}</li>
                <li>
                    <a ng-href="request.method.documentation">Docs</a>
                </li>
            </ul>

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <h4>Request:</h4>
            <pre><code prism class="language-http">{{request.method.type}} {{request.method.url}} {{request.method.protocol}}
{{request.sample.headers}}
{{request.sample.body}}</code></pre>
            <button ng-show="request.method.authdescriptor" ng-click="send()" type="button" class="btn btn-primary">Get Token</button>
            <button ng-click="send()" type="button" ng-class="checkBeforeSend() ? 'btn btn-success' : 'btn btn-success disabled'" class="btn btn-success">Send</button>

        </div>
        <div class="col-md-4">
            <div>
                <h4>Response:</h4>
                <pre><code prism class="language-http">{{response}}

</code></pre>
            </div>
        </div>
    </div>

</div>
